@page "/"
@using Kon.BillingBash.Blazor.ViewModels.Index
@inherits BillingBashComponentBase

<div class="container">
	<DataGrid TItem="ItemViewModel" Data="@Items">
		<DataGridColumns>
			<DataGridCheckColumn TItem="ItemViewModel" Field="@nameof(ItemViewModel.Selected)"></DataGridCheckColumn>
			<DataGridColumn TItem="ItemViewModel" Field="@nameof(ItemViewModel.Name)" Caption="Name"></DataGridColumn>
			<DataGridNumericColumn TItem="ItemViewModel" Field="@nameof(ItemViewModel.Price)" Caption="Price"></DataGridNumericColumn>
			<DataGridDateColumn TItem="ItemViewModel" Field="@nameof(ItemViewModel.CreationTime)" Caption="CreateTime"></DataGridDateColumn>
			<DataGridColumn Caption="Operation">
				<DisplayTemplate>
					<Dropdown>
						...
					</Dropdown>
				</DisplayTemplate>
			</DataGridColumn>
		</DataGridColumns>
	</DataGrid>
</div>
