@page "/items"
@inherits BillingBashComponentBase
@using Kon.BillingBash.Blazor.ViewModels.Index

<h3>Items</h3>

<div class="container">
	<Fields>
		<Field>
			<FieldLabel>账单名称</FieldLabel>
			<TextEdit @bind-Text="NameFilter"/>
		</Field>
		<Field>
			<FieldLabel>账单日期区间</FieldLabel>
			<DatePicker TValue="DateTime?" @bind-Dates="SelectedDates" InputMode="DateInputMode.Date" SelectionMode="DateInputSelectionMode.Range" />
		</Field>
	</Fields>
	<Button Color="Color.Primary" @onclick="SearchAsync">查询</Button>
</div>

<div class="container">
	<DataGrid TItem="ItemViewModel" Data="@ItemResult" Responsive>
		<DataGridColumns>
			<DataGridCheckColumn TItem="ItemViewModel" Field="@nameof(ItemViewModel.Selected)"></DataGridCheckColumn>
			<DataGridColumn TItem="ItemViewModel" Field="@nameof(ItemViewModel.Name)" Caption="Name"></DataGridColumn>
			<DataGridNumericColumn TItem="ItemViewModel" Field="@nameof(ItemViewModel.Price)" Caption="Price"></DataGridNumericColumn>
			<DataGridDateColumn TItem="ItemViewModel" Field="@nameof(ItemViewModel.CreationTime)" Caption="CreateTime"></DataGridDateColumn>
			<DataGridColumn Caption="Operation">
				<DisplayTemplate>
					<Dropdown Display="Display.InlineBlock">
						<DropdownToggle Color="Color.Primary">@L["Action"]</DropdownToggle>
						<DropdownMenu>
							<DropdownItem>@L["Detail"]</DropdownItem>
							<DropdownItem>@L["Modify"]</DropdownItem>
							<DropdownItem TextColor="TextColor.Danger">@L["Delete"]</DropdownItem>
						</DropdownMenu>
					</Dropdown>
				</DisplayTemplate>
			</DataGridColumn>
		</DataGridColumns>
	</DataGrid>
	<Button Color="Color.Primary" Block Clicked="PageAsync" Disabled="@(!CanPage)">Next</Button>
	<span style="display: inline-block; float: right;">TotalCount: @TotalCount </span>
</div>

						
<div class="container">
	<Fields>
		<Field>
			<FieldLabel>账单名称</FieldLabel>
			<TextEdit @bind-Text="CreateInput.Name"/>
		</Field>
		<Field>
			<FieldLabel>金额</FieldLabel>
			<InputMask Mask="99999-99" @bind-Text="CreateInput.Price"/>
		</Field>
	</Fields>
	<Button Color="Color.Primary" @onclick="CommitAsync">新增</Button>
</div>